.popular_name{
    font-family: 'Amithen', cursive;
    color: #222222;
    font-size: 32px;
    text-transform: uppercase;
    
}


.outer_popular{
    background-color: white;
    text-align: center;
    padding: 20px 20px;
}



.inner_div:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.popular_card img{
    height: 279px;
}

.popular_price{
    font-family: Amithen;
    color: #74a8b5;
    font-size: 26px;
}

.popular_desc{
    padding-right: 40px !important;
    padding-left: 40px !important;
    font-size: 16px;
    color: #555555;
    margin-bottom: 1.43rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.paint{
    font-family: Montserrat,sans-serif;
    color: #555555;
    font-size: 16px;
}
.paint_popular{
    font-family: Montserrat,sans-serif;
    color: #222222;
    font-size: 16px;
}
.paint_box{
    padding: 10px;
    border-top-width: 1px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 0px !important;
    border-top-color: #e1e1e1 !important;
    border-top-style: solid !important;
}
.size_popular{
    font-family: Montserrat,sans-serif;
    color: #555555;
    font-size: 16px;
}

.popular_discprice{
    font-family: Amithen;
    color: #111f36;
    font-size: 26px;
}

.price-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .original_price {
    text-decoration: line-through;
    color: #74a8b5; 
    font-size: 26px;
    font-family: Amithen;
  }
  
  .popular_discprice {
    font-family: Amithen;
    color: #111f36;
    font-size: 26px;
  }
  
  .popular_price {
    font-family: Amithen;
    color: #74a8b5;
    font-size: 26px;
  }
  

  .onSale{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    padding: 5px 8px;
    background: #c62828;
    font-size: .85rem;
    text-align: center;
    color:  #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .inStock{
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    margin-bottom: 0;
    font-size: .85rem;
    text-transform: uppercase;
    color: #222;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 7px 14px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }