.searchname{
    font-family: "Amithen";
    font-weight: 400;
    color: #222222;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 16px;
}
.searchit{
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.14rem;
    padding-bottom: 10px;
}

.trendbtn{
    display: inline-block;
    padding: 5px 12px;
    margin: 3px;
    line-height: 1;
    background: #f3f3f3;
    color: #222;
    font-size: 16px;
}

.categname{
    font-family: "Amithen";
    font-weight: 400;
    color: #222222;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 20px;
}

.productname{
    font-family: "Amithen";
    font-weight: 400;
    color: #222222;
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 20px;
}
.productprice{
    font-family: "Amithen";
    font-weight: 400;
    color: #74A8B5;
    font-size: 16px;
}